In [1]:
#print prime number from a range given by user
start = int(input("Enter the start range number: "))
end = int(input("Enter the end range number: "))

print(f"Prime numbers between {start} and {end}:")

for num in range(start, end + 1):
    if num > 1:
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num, end=" ")

Prime numbers between 10 and 20:
11 13 17 19

In [2]:
l=[]
l.append(10)
l.append(20)
l.append(30)

for x in l :
    print(x,end=(","))

10,20,30,

In [ ]:
#insert
a=[10,20]
a.insert(2,30)
print(a)


a.insert(1,50)
print(a)

[10, 20, 30]
[10, 50, 20, 30]

In [5]:
#replace
l=[10,20,30]
print(l)
l[0]=100
print(l)

[10, 20, 30]
[100, 20, 30]

In [ ]:
#delete
l=[10,20,30]
print(l)
l.remove(20)
print(l)

[10, 20, 30]
[10, 30]

In [ ]:
#reverse
l=[5,4,3,2,1]
l.reverse()
l

[1, 2, 3, 4, 5]

In [12]:
#sort
l=[5,4,3,2,1]
l.sort()
l

[1, 2, 3, 4, 5]

In [16]:
#add a number in a list
l=[]

l.insert(0,10)
print(l)

[10]

In [22]:
#sum of the value of a list
# l=[10,20,30]

# total=sum(l)
# print(total)

l=[10,20,30]
total=0

for num in l:
    total += num
    
print(total)

60

In [23]:
#slicing func 
S1='my name in arghya'
S1[2 : 12]

' name in a'

In [24]:
#slicing func reverse
S1='my name in arghya'
S1[::-1]

'ayhgra ni eman ym'

In [25]:
#write a program to count vowles in a word
s1='hello'
vowles ='aeiouAEIOU'
vowles_are=''

for char in s1:
    if char in vowles:
        vowles_are+=char+''
        
if vowles_are:
    print(f"Vowels in '{s1}': {vowles_are}")
else:
     print(f"No vowels found in '{s1}'")

Vowels in 'hello': eo

In [1]:
#write a program to find the number of datatype present in a tuple
tuple_value =(1, 2, 3, 'abc', 1.3)
datatype=[]

for i in tuple_value:
    t=type(i)
    if t not in datatype:
     datatype.append(t)
    
print("Number of data types in tuple:", len(datatype))

Number of data types in tuple: 3

In [ ]:
s={1,2,3}
s.add(4)
print(s)
s1={1,2,3,4,5}
s.update(s1)
print(s)
s.discard(4) #use for discarding an element without giving an error if the element not present in the set. 
print(s)
s.remove(5)  #use for discarding an element by giving an error if the element not present in the set .
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 5}
{1, 2, 3}

In [50]:
d={100:"Debolina" , 101:"Dipsikha", 102:"Olivia"}
print(d)
for k in d:
    print("key=",k,"value=",d[k])

{100: 'Debolina', 101: 'Dipsikha', 102: 'Olivia'}
key= 100 value= Debolina
key= 101 value= Dipsikha
key= 102 value= Olivia

In [1]:
words = {}

l=['a','b','c','d','e']

for x in l:
    print("enter the word for letter",x)
    words[x]=input()
    
print(words)

enter the word for letter a
enter the word for letter b
enter the word for letter c
enter the word for letter d
enter the word for letter e
{'a': '', 'b': 'apple', 'c': 'ball', 'd': '', 'e': ''}